:root {
  /* colors */
  --color-primary: #328E6E;
  --color-secondary: #67AE6E;
  --color-tertiary: #90C67C;
  --color-black: #222831;
  --color-white: #EFEEEA;
  --color-red: #FF3D00;

  /* paddings */
  --padding-x: 2rem;
  --padding-y: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* layout */
.layout-header {
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-inline: var(--padding-x);
}

.layout-content {
  padding: var(--padding-y) var(--padding-x);
}

.layout-content .content {
  padding: 1rem;
  min-height: calc(100vh - 8rem);
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

/* header content */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.header-content .logo {
  font-size: 2rem;
  color: var(--color-white);
  font-weight: bold;
  flex: 1 1 auto;
}

.header-content .search-bar {
  flex: 0 1 300px;
}


.header-content .toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-white);
  transition: all 0.3s ease;
  flex: 0 0 auto;
}

/* Mobile styles */
@media (max-width: 600px) {
  
  .header-content .logo {
    display: none;
  }

  .header-content .search-bar {
    text-align: center;
    width: 100%;
  }

  .header-content .toggle {
    margin-top: 0.5rem;
  }
}

/* books */

.card-action-btn {
  width: 1.2rem;
  height: 1.2rem;
}

.delete-icon {
  color: var(--color-red);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-icon {
  color: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-item {
  background-color: white !important;
  border-radius: 0.5rem;
}

.add-btn {
  color: var(--color-primary);
}